/* Disable pinch zoom and double-tap to zoom.
  Set to touch-action: pan-x pan-y; to prevent zoom only
  Set to touch-action: none; in case not even scrolling is required
*/
body {
  touch-action: pan-x pan-y;
}

/*html {
  overflow-x: hidden;
  max-width: 100vw;
}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.ant-input-group-addon {
  padding: 0; 
}
